@model Category
@{
    ViewData["Title"] = "Bryant Cafe Menu";
    int? uid = @Context.Session.GetInt32("UserId");
    Console.WriteLine(uid);
}

<h1>@Model.Name</h1>
<h2>@Model.Info</h2>
<a asp-controller="Home" asp-action="EditCategory" asp-route-dishId="@Model.CategoryId">
                edit @Model.Name
            </a>
@* <table style="width:100%"> *@
    

@foreach (CSubRel item in @Model.MySubCats)
{
    <br/>
    <table class="menu_table_head">
            <tr>
                <th>@item.MySubCat.Name</th>
            </tr> 
    </table>

    @foreach (Dish meal in item.MySubCat.MyDishes)
    {
        <table class="menu_table">
            <tr>
                <th>@meal.Name</th>
            <tr>
                <td>@meal.Description</td>
            <tr>
                <td>$@meal.Price</td>
            </tr>
            </tr>    
            </tr>
        </table>   
    
            @if (uid != null)/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            {
            <li>
                @* Delete could be a GET request, but POST is better practice *@
                <form asp-controller="Home" asp-action="Delete" asp-route-dishId="@meal.DishId" method="POST"
        class="d-inline-block">
                    <button class="btn btn-sm btn-outline-danger">Delete this Dish</button>
                </form>
                <a asp-controller="Home" asp-action="EditDish" asp-route-DishId="@meal.DishId" method="GET"
        class="d-inline-block">
                    <button class="btn btn-sm btn-outline-warning">Edit my Dish</button>
                </a>
            </li>
            }
    }
}
@* </table> *@

