@model Category
@{
    ViewData["Title"] = "Bryant Cafe Menu";

}

<h1>@Model.Name</h1>
<h2>@Model.Info</h2>
<a asp-controller="Home" asp-action="EditCategory" asp-route-dishId="@Model.CategoryId">
                edit @Model.Name
            </a>
@* <table style="width:100%"> *@
    

@foreach (CSubRel item in @Model.MySubCats)
{
    @* bool existingResponse = item.Tourists.Any(rsvp => rsvp.UserTouristId == (int)uid); *@
    
    @foreach (Dish meal in item.MySubCat.MyDishes)
    {
        <ul>
            <li>@meal.Name</li>
        </ul>

        <ul>
            <li>@meal.Description </li>
            <li>@meal.Price </li>
            <li>
            @* @if (uid)///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@
            {
                @* Delete could be a GET request, but POST is better practice *@
                <form asp-controller="Home" asp-action="Delete" asp-route-dishId="@meal.DishId" method="POST"
        class="d-inline-block">
                    <button class="btn btn-sm btn-outline-danger">Delete this Dish</button>
                </form>
                <a asp-controller="Home" asp-action="EditDish" asp-route-DishId="@meal.DishId" method="GET"
        class="d-inline-block">
                    <button class="btn btn-sm btn-outline-warning">Edit my Dish</button>
                </a>
            }
            </li>
        </ul>
    }
}
@* </table> *@

